version: '3'
services:
  api:
    build: .
    ports:
      - "5050:5050"
    depends_on:
      - mysql
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=biblioteca_falero
      - PORT=5050
    restart: always

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=biblioteca_falero
    volumes:
      - ./.docker/mysql:/var/lib/mysql
    restart: always

volumes:
  mysql:
